<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hanming.oa.dao.BBSLabelTopicMapper">
  <resultMap id="BaseResultMap" type="com.hanming.oa.model.BBSLabelTopic">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="topicId" jdbcType="INTEGER" property="topicid" />
    <result column="labelId" jdbcType="INTEGER" property="labelid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, topicId, labelId
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from bbslabeltopic
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from bbslabeltopic
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hanming.oa.model.BBSLabelTopic">
    insert into bbslabeltopic (id, topicId, labelId
      )
    values (#{id,jdbcType=INTEGER}, #{topicid,jdbcType=INTEGER}, #{labelid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hanming.oa.model.BBSLabelTopic">
    insert into bbslabeltopic
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="topicid != null">
        topicId,
      </if>
      <if test="labelid != null">
        labelId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="topicid != null">
        #{topicid,jdbcType=INTEGER},
      </if>
      <if test="labelid != null">
        #{labelid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hanming.oa.model.BBSLabelTopic">
    update bbslabeltopic
    <set>
      <if test="topicid != null">
        topicId = #{topicid,jdbcType=INTEGER},
      </if>
      <if test="labelid != null">
        labelId = #{labelid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hanming.oa.model.BBSLabelTopic">
    update bbslabeltopic
    set topicId = #{topicid,jdbcType=INTEGER},
      labelId = #{labelid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <!-- void insertLabelTopics(List<BBSLabelTopic> bbsLabelTopics); -->
  <insert id="insertLabelTopics" parameterType="java.util.List">
  	insert into bbslabeltopic (topicId,labelId) values
  	<foreach collection="list" item="item" index="index" separator=",">
  	(#{item.topicid},#{item.labelid})
  	</foreach>
  </insert>
  
  <!-- void deleteByTopicId(@Param("topicId") Integer topicId); -->
  <delete id="deleteByTopicId">
  	delete from bbslabeltopic
    where topicId = #{topicId}
  </delete>
  
  <!-- void deleByTopicIdList(List<Integer> topicIds); -->
  <delete id="deleByTopicIdList">
  	delete from bbslabeltopic 
	where topicId IN
    <foreach item="item" index="index" collection="list"  open="(" separator="," close=")"> 
    #{item} 
    </foreach>
  </delete>
  
  <!-- List<BBSLabelTopic> getTopicListByLabelIds(List<Integer> bbsLabelIds); -->
  <select id="getTopicListByLabelIds" resultType="BBSTopic">
  	select id, topicId, labelId
  	from bbslabeltopic
  	where topicId IN
  	<foreach item="item" index="index" collection="list"  open="(" separator="," close=")"> 
    #{item} 
    </foreach>
  </select>
  
</mapper>