<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hanming.oa.dao.BBSRepliesMapper">
  <resultMap id="BaseResultMap" type="com.hanming.oa.model.BBSReplies">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="userId" jdbcType="INTEGER" property="userid" />
    <result column="repliseUserId" jdbcType="INTEGER" property="repliseuserid" />
    <result column="TopicId" jdbcType="INTEGER" property="topicid" />
    <result column="repliesId" jdbcType="INTEGER" property="repliesid" />
    <result column="date" jdbcType="TIMESTAMP" property="date" />
    <result column="text" jdbcType="VARCHAR" property="text" />
  </resultMap>
  <sql id="Base_Column_List">
    id, userId, repliseUserId, TopicId, repliesId, date, text
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from bbsreplies
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from bbsreplies
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hanming.oa.model.BBSReplies">
    insert into bbsreplies (id, userId, repliseUserId, 
      TopicId, repliesId, date, 
      text,state)
    values (#{id,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{repliseuserid,jdbcType=INTEGER}, 
      #{topicid,jdbcType=INTEGER}, #{repliesid,jdbcType=INTEGER}, #{date,jdbcType=TIMESTAMP}, 
      #{text,jdbcType=VARCHAR},#{state,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hanming.oa.model.BBSReplies">
    insert into bbsreplies
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userid != null">
        userId,
      </if>
      <if test="repliseuserid != null">
        repliseUserId,
      </if>
      <if test="topicid != null">
        TopicId,
      </if>
      <if test="repliesid != null">
        repliesId,
      </if>
      <if test="date != null">
        date,
      </if>
      <if test="text != null">
        text,
      </if>
      <if test="state != null">
        state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="repliseuserid != null">
        #{repliseuserid,jdbcType=INTEGER},
      </if>
      <if test="topicid != null">
        #{topicid,jdbcType=INTEGER},
      </if>
      <if test="repliesid != null">
        #{repliesid,jdbcType=INTEGER},
      </if>
      <if test="date != null">
        #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="text != null">
        #{text,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hanming.oa.model.BBSReplies">
    update bbsreplies
    <set>
      <if test="userid != null">
        userId = #{userid,jdbcType=INTEGER},
      </if>
      <if test="repliseuserid != null">
        repliseUserId = #{repliseuserid,jdbcType=INTEGER},
      </if>
      <if test="topicid != null">
        TopicId = #{topicid,jdbcType=INTEGER},
      </if>
      <if test="repliesid != null">
        repliesId = #{repliesid,jdbcType=INTEGER},
      </if>
      <if test="date != null">
        date = #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="text != null">
        text = #{text,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hanming.oa.model.BBSReplies">
    update bbsreplies
    set userId = #{userid,jdbcType=INTEGER},
      repliseUserId = #{repliseuserid,jdbcType=INTEGER},
      TopicId = #{topicid,jdbcType=INTEGER},
      repliesId = #{repliesid,jdbcType=INTEGER},
      date = #{date,jdbcType=TIMESTAMP},
      text = #{text,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <!-- void deleteByTopicId(@Param("topicId")Integer topicId); -->
  <delete id="deleteByTopicId">
  	delete from bbsreplies
    where topicId = #{topicId}
  </delete>
  
  <!-- void deleteByTopicIdList(List<Integer> topicIds); -->
  <delete id="deleteByTopicIdList">
  	delete from bbsreplies 
	where topicId IN
    <foreach item="item" index="index" collection="list"  open="(" separator="," close=")"> 
    #{item} 
    </foreach>
  </delete>
  
  <!-- Integer selectCountCommentByUserAndTopic(@Param("topicId")Integer topicId); -->
  <select id="selectCountCommentByUserAndTopic" resultType="Integer">
  	select count(*)
  	from bbsreplies
  	WHERE TopicId=#{topicId}
  </select>
  
</mapper>