<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hanming.oa.dao.DeployeMapper">
<!-- void updataPersonNumberByDeployId(String id, Integer num); -->
<update id="updataPersonNumberByDeployId">
  update act_re_procdef
    set peopleNumber = #{num}
    where DEPLOYMENT_ID_ = #{id}
</update>

<!-- List<String> selectProcessKey(); -->
<select id="selectProcessKey" resultType="String">
	select DISTINCT KEY_
	from act_re_procdef
</select>

<!-- Integer selectNumByProcessDefinitionKey(String key); -->
<select id="selectNumByProcessDefinitionKey" parameterType="String" resultType="Integer">
 	select peopleNumber
	from act_re_procdef
	where KEY_ = #{key} AND VERSION_ = (select max(VERSION_) from act_re_procdef)
</select>

</mapper>