<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hanming.oa.dao.MyImageMapper">
  <resultMap id="BaseResultMap" type="com.hanming.oa.model.MyImage">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="userId" jdbcType="INTEGER" property="userId" />
    <result column="imageName" jdbcType="VARCHAR" property="imagename" />
    <result column="topicId" jdbcType="INTEGER" property="topicId" />
  </resultMap>
  
  <sql id="Base_Column_List">
    id, userId, imageName, topicId
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from myimage
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from myimage
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hanming.oa.model.MyImage">
    insert into myimage (id, userId, imageName, 
      topicId)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{imagename,jdbcType=VARCHAR}, 
      #{topicId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.hanming.oa.model.MyImage">
    insert into myimage
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        userId,
      </if>
      <if test="imagename != null">
        imageName,
      </if>
      <if test="topicId != null">
        topicId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="imagename != null">
        #{imagename,jdbcType=VARCHAR},
      </if>
      <if test="topicId != null">
        #{topicId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hanming.oa.model.MyImage">
    update myimage
    <set>
      <if test="userId != null">
        userId = #{userId,jdbcType=INTEGER},
      </if>
      <if test="imagename != null">
        imageName = #{imagename,jdbcType=VARCHAR},
      </if>
      <if test="topicId != null">
        topicId = #{topicId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hanming.oa.model.MyImage">
    update myimage
    set userId = #{userId,jdbcType=INTEGER},
      imageName = #{imagename,jdbcType=VARCHAR},
      topicId = #{topicId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <!-- List<MyImageDispaly> selectList(Integer isByMy); -->
  <select id="selectList" resultType="MyImageDispaly" parameterType="Integer">
  	SELECT
	mi.id,mi.imageName,mi.topicId,mi.userId,bt.title,bt.sketch,bt.date,tu.name AS userName
	FROM myimage mi
	LEFT JOIN bbstopic bt ON bt.id=mi.topicId
	LEFT JOIN t_user tu ON tu.id = mi.userId
	<where>
		<if test="isByMy != 0">
		  mi.userId = #{isByMy}
		</if>
	</where>
  </select>

</mapper>