<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hanming.oa.dao.ThingsMapper">
  <resultMap id="BaseResultMap" type="com.hanming.oa.model.Things">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="number" jdbcType="INTEGER" property="number" />
    <result column="date" jdbcType="TIMESTAMP" property="date" />
    <result column="purpose" jdbcType="VARCHAR" property="purpose" />
    <result column="state" jdbcType="VARCHAR" property="state" />
    <result column="details" jdbcType="VARCHAR" property="details" />
    <result column="enclosure" jdbcType="VARCHAR" property="enclosure" />
    <result column="filename" jdbcType="VARCHAR" property="filename" />
    <result column="processInstanceId" jdbcType="VARCHAR" property="processinstanceid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, number, date, purpose, state, details, enclosure, filename, processInstanceId
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from things
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from things
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyProperty="id" parameterType="com.hanming.oa.model.Things">
    insert into things (id, name, number, 
      date, purpose, state, 
      details, enclosure, filename, 
      processInstanceId)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{number,jdbcType=INTEGER}, 
      #{date,jdbcType=TIMESTAMP}, #{purpose,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR}, 
      #{details,jdbcType=VARCHAR}, #{enclosure,jdbcType=VARCHAR}, #{filename,jdbcType=VARCHAR}, 
      #{processinstanceid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyProperty="id" parameterType="com.hanming.oa.model.Things">
    insert into things
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="number != null">
        number,
      </if>
      <if test="date != null">
        date,
      </if>
      <if test="purpose != null">
        purpose,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="details != null">
        details,
      </if>
      <if test="enclosure != null">
        enclosure,
      </if>
      <if test="filename != null">
        filename,
      </if>
      <if test="processinstanceid != null">
        processInstanceId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="number != null">
        #{number,jdbcType=INTEGER},
      </if>
      <if test="date != null">
        #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="purpose != null">
        #{purpose,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="details != null">
        #{details,jdbcType=VARCHAR},
      </if>
      <if test="enclosure != null">
        #{enclosure,jdbcType=VARCHAR},
      </if>
      <if test="filename != null">
        #{filename,jdbcType=VARCHAR},
      </if>
      <if test="processinstanceid != null">
        #{processinstanceid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hanming.oa.model.Things">
    update things
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="number != null">
        number = #{number,jdbcType=INTEGER},
      </if>
      <if test="date != null">
        date = #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="purpose != null">
        purpose = #{purpose,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=VARCHAR},
      </if>
      <if test="details != null">
        details = #{details,jdbcType=VARCHAR},
      </if>
      <if test="enclosure != null">
        enclosure = #{enclosure,jdbcType=VARCHAR},
      </if>
      <if test="filename != null">
        filename = #{filename,jdbcType=VARCHAR},
      </if>
      <if test="processinstanceid != null">
        processInstanceId = #{processinstanceid,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hanming.oa.model.Things">
    update things
    set name = #{name,jdbcType=VARCHAR},
      number = #{number,jdbcType=INTEGER},
      date = #{date,jdbcType=TIMESTAMP},
      purpose = #{purpose,jdbcType=VARCHAR},
      state = #{state,jdbcType=VARCHAR},
      details = #{details,jdbcType=VARCHAR},
      enclosure = #{enclosure,jdbcType=VARCHAR},
      filename = #{filename,jdbcType=VARCHAR},
      processInstanceId = #{processinstanceid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <!-- List<Things> listLikeStateType(String state, String purpose); -->
  <select id="listLikeStateType" resultType="Things">
   select 
   <include refid="Base_Column_List" />
   from things
   <where>
	    <if test="state != '状态'">
	          state = #{state}
	    </if>
	    <if test="name != ''">
	         AND name = '%' #{name} '%'
	    </if>
    </where>
  </select>
  
  <!-- UserThingsByThingsId selectUserThingsByThingsId(Integer thingsId); -->
  <select id="selectUserThingsByThingsId" resultType="UserThingsByThingsId">
  SELECT th.`name` thingsName, th.id,th.number,th.date,th.purpose,th.state,th.details,th.enclosure,th.filename,th.processInstanceId,tu.id tuId,tu.username,tu.`name` ,tr.`name` role,td.`name` department
	FROM things th
	LEFT JOIN user_things ust ON ust.thingsId=th.id
	LEFT JOIN t_user tu ON tu.id = ust.userId
	LEFT JOIN t_department_user  tdu ON tdu.userId = tu.id
	LEFT JOIN t_department td ON td.id = tdu.departmentId
	LEFT JOIN t_user_role tur ON tur.userId = tu.id
	LEFT JOIN t_role tr ON tr.id = tur.roleId
	WHERE th.id =#{thingsId}
  </select>
  
  <!-- Things selectThingsByProcessInstanceIdLikeStateName(String processInstanceId, String state, String name); -->
  <select id="selectThingsByProcessInstanceIdLikeStateName" resultType="Things">
  	select 
   <include refid="Base_Column_List" />
   from things
   <where>
   		processInstanceId = #{processInstanceId}
	    <if test="state != '状态'">
	         AND state = #{state}
	    </if>
	    <if test="name != ''">
	         AND name = #{name}
	    </if>
    </where>
  </select>
  
  <!-- List<Things> selectListThingsByProcessInstanceId(List<String> listProcessinstanceid); -->
  <select id="selectListThingsByProcessInstanceId" resultType="Things">
  	select 
  	<include refid="Base_Column_List" />
  	from things
  	where processinstanceid IN
  	<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
  	#{item}
  	</foreach>
  </select>
  
  <!-- List<Things> selectCreatByMeLikeStateName(@Param("userId")Integer userId, @Param("state")String state, @Param("name")String name); -->
  <select id="selectCreatByMeLikeStateName" resultType="Things">
  	SELECT 
	th.id, th.`name`, number, date, purpose, state, details, enclosure, filename, processInstanceId
	FROM things th
	LEFT JOIN user_things ut ON ut.thingsId = th.id
	LEFT JOIN t_user tu ON tu.id = ut.userId
	<where>
    	tu.id = #{userId}
	    <if test="state != '状态'">
	         AND state = #{state}
	    </if>
	    <if test="name != ''">
	         AND name = '%' #{name} '%'
	    </if>
    </where>
  </select>
  
  
  <!-- List<ThingsAndExaminationTime> selectExaminationByMeLikeStateName(String username, String state, String name); -->
  <select id="selectExaminationByMeLikeStateName" resultType="ThingsAndExaminationTime">
  	SELECT 
	th.id, th.`name`, number, date, purpose, state, details, enclosure, filename, processInstanceId,aha.END_TIME_ as examinationTime, aha.START_TIME_ as startExaminationTime
	FROM things th
	LEFT JOIN act_hi_actinst aha ON aha.PROC_INST_ID_=th.processInstanceId
	<where>
    	aha.ASSIGNEE_ = #{username}
	    <if test="state != '状态'">
	         AND state = #{state}
	    </if>
	    <if test="name != ''">
	         AND name = '%' #{name} '%'
	    </if>
    </where>
  </select> -->
  
  <!-- List<ThingsAndExaminationTime> selectCompleteByMeLikeStateName(@Param("username") String username, @Param("state") String state, @Param("name") String name); -->
  <select id="selectCompleteByMeLikeStateName" resultType="ThingsAndExaminationTime">
  	SELECT 
	th.id, th.`name`, number, date, purpose, state, details, enclosure, filename, processInstanceId,ahv.LAST_UPDATED_TIME_ AS examinationTime
	FROM things th
	LEFT JOIN act_hi_varinst ahv ON ahv.PROC_INST_ID_=th.processInstanceId
	<where>
		ahv.TEXT_=#{username}
		AND ahv.NAME_='completePeople'
		<if test="state != '状态'">
	         AND state = #{state}
	    </if>
	    <if test="name != ''">
	         AND name = '%' #{name} '%'
	    </if>
	</where>
  </select>
  <!-- 
  UserThingsByThingsId selectThingsByThingsId(Integer thingsId);
  <select id="selectThingsByThingsId" resultType="UserThingsByThingsId">
  	SELECT th.id,th.`name` AS thingsName,th.number,th.date,th.purpose,th.state,th.details,th.enclosure,th.filename,th.processInstanceId ,tu.id tuId,tu.username,tu.`name` ,tr.`name` role,td.`name` department
	FROM things th
	LEFT JOIN user_things uh ON uh.thingsId = th.id
	LEFT JOIN t_user tu ON tu.id = uh.userId
	LEFT JOIN t_department_user  tdu ON tdu.userId = tu.id
	LEFT JOIN t_department td ON td.id = tdu.departmentId
	LEFT JOIN t_user_role tur ON tur.userId = tu.id
	LEFT JOIN t_role tr ON tr.id = tur.roleId
	WHERE th.id =#{thingsId}
  </select> -->
  
  <!-- void deleteThingsByProcessInstanceId(List<String> idsList); -->
  <delete id="deleteThingsByProcessInstanceId">
  	delete from things
  	where processinstanceid IN
    <foreach item="item" index="index" collection="list"  open="(" separator="," close=")"> 
    #{item} 
    </foreach>
  </delete>
  
  <!-- List<Things> listLikeTypeAndApproved(@Param("state") String state, @Param("name") String name); -->
  <select id="listLikeTypeAndApproved" resultType="Things">
  	select 
    <include refid="Base_Column_List" />
    from things
    <where>
    	state != '审核中'
	    <if test="state != '状态'">
	         AND state = #{state}
	    </if>
	    <if test="name != ''">
	         AND name = '%' #{name} '%'
	    </if>
    </where>
  </select>
  
</mapper>