<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hanming.oa.dao.WhiteListMapper">
  <resultMap id="BaseResultMap" type="com.hanming.oa.model.WhiteList">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="userId" jdbcType="INTEGER" property="userid" />
    <result column="projectId" jdbcType="INTEGER" property="projectid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, userId, projectId
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from whitelist
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from whitelist
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hanming.oa.model.WhiteList">
    insert into whitelist (id, userId, projectId
      )
    values (#{id,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{projectid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hanming.oa.model.WhiteList">
    insert into whitelist
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userid != null">
        userId,
      </if>
      <if test="projectid != null">
        projectId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="projectid != null">
        #{projectid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hanming.oa.model.WhiteList">
    update whitelist
    <set>
      <if test="userid != null">
        userId = #{userid,jdbcType=INTEGER},
      </if>
      <if test="projectid != null">
        projectId = #{projectid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hanming.oa.model.WhiteList">
    update whitelist
    set userId = #{userid,jdbcType=INTEGER},
      projectId = #{projectid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <!-- void insertList(@Param("id")Integer id, @Param("list")List<Integer> intIdList); -->
  <insert id="insertList">
  	insert into whitelist (userId,projectId)
  	values
  	<foreach collection="list" item="ids" separator=",">  
            (#{ids},#{id})  
    </foreach>  
  </insert>
  
  <!-- void deleteByProjectId(Integer id); -->
  <delete id="deleteByProjectId" parameterType="Integer">
  	delete from whitelist
    where projectId = #{id}
  </delete>
  
  <!-- List<User> listByProjectId(Integer projectId); -->
  <select id="listByProjectId" resultType="User">
  	select tu.id,tu.name
  	from whitelist wl
  	LEFT JOIN t_user tu ON tu.id=wl.userId
  	where wl.projectId = #{projectId}
  </select>
</mapper>