@font-face {
	font-family: "fzlt";
	src: url(../fonts/fzlt-webfont.eot);
	/* IE9 */
	src: url(../fonts/fzlt-webfont.eot?#iefix) format("embedded-opentype"),
		/* IE6-IE8 */ 
	 url(../fonts/fzlt-webfont.woff) format("woff"), /* chrome, firefox */
		 
	 /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */ 
	 url(../fonts/fzlt-webfont.ttf) format("truetype"),
		url(../fonts/fzlt-webfont.svg#SentyZHAO) format("svg");
	/* iOS 4.1- */
	font-style: normal;
	font-weight: normal;
}

body a, .toggle-btn span {
	transition: 0.2s all;
	-webkit-transition: 0.2s all;
	-o-transition: 0.2s all;
	-moz-transition: 0.2s all;
	-ms-transition: 0.2s all;
}

/* clearfix */
.clearfix::before, .clearfix::after {
	content: "";
	display: table;
}

.clearfix::after {
	clear: both;
}

.clearfix {
	zoom: 1;
}

body {
	font-family: fzlt 'Microsoft Yahei UI' '微软雅黑';
}

.bg {
	background-color: rgba(253, 249, 249, 0.877);
}

.bg-common {
	background-color: #424f63;
}

/* index start */
.row {
	margin: 0;
}

.left-side {
	width: 130px;
	position: fixed;
	height: 100%;
	z-index: 9999;
}

.nav-hover {
	background-color: rgb(53, 63, 79);
}

.nav-hover a {
	color: rgb(101, 206, 167);
}

.nav-hover-stickety {
	background-color: white;
}

.nav-hover-stickety a span.glyphicon {
	color: black;
}

.main-content {
	margin-left: 130px;
	background-color: #eff0f4;
	min-height: 987px;
	padding-top: 50px;
}

.dropdown-menu>li {
	text-align: center;
}

.content-head {
	position: fixed;
	top: 0;
	left: 130px;
	z-index: 999;
	width: 100%;
}

.content-head-section {
	background-color: #fff;
	max-width: 100%;
}

.toggle-btn {
	width: 52px;
	height: 50px;
	font-size: 20px;
	padding: 15px;
	cursor: pointer;
	float: left;
	border-right: 1px solid #e7e7e7;
}

.toggle-btn span {
	color: rgb(182, 180, 180);
}

.stickey-menu .left-side {
	width: 40px;
}

.stickey-menu .left-side ul li a {
	width: 40px;
	height: 40px;
	overflow: hidden;
	padding: 1rem;
	position: relative;
}

.stickey-menu .left-side ul li a span.menu-text {
	position: absolute;
	background: #65CEA7;
	padding: 10px;
	left: 40px;
	top: 0;
	min-width: 173px;
	text-align: left;
	display: none;
}

.stickey-menu .left-side ul li a span.menu-text::after {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(0, 0, 0, 0);
	border-right-color: #65CEA7;
	border-width: 6px;
	margin-top: -6px;
}

.stickey-menu .main-content {
	margin-left: 40px;
}

.stickey-menu .content-head {
	left: 40px;
}

.stickey-menu .content-head-right {
	margin-right: 70px;
}

.show-stickey-menu {
	width: 200px !important;
}

.show-stickey-menu span.menu-text {
	display: block !important;
}

.serach-form {
	float: left;
}

.serach-form select, .serach-form input {
	float: left;
	width: 250px;
	margin: 7px 0 0 10px;
}

.serach-form button {
	margin: 7px 0 0 10px;
}

.content-head-right {
	position: absolute;
	right: 0;
	margin-right: 160px;
}

.login-info>li {
	float: left;
	display: inline-block;
	position: relative;
}

.login-info>li>a {
	color: #000;
	display: inline-block;
	line-height: 54px;
	padding: 0 10px;
}

.login-info>li>a:hover {
	background-color: rgb(66, 79, 99);
	color: #65CEA7;
}

.login-info>li>a>i {
	font-size: 1.5rem;
	color: #000;
	display: block;
	line-height: 50px;
	padding: 0 10px;
}

.wrapper {
	padding: 15px;
}

.welcome-text h2 {
	font-family: fzlt;
	color: #424f63;
}

.welcome-text a {
	font-family: fzlt;
	color: #65CEA7;
	font-weight: bold;
}

/* login start */
.top-title {
	font-size: 4rem;
	color: #1069a4;
	letter-spacing: 1px;
	line-height: 1;
	margin: 3rem 0 3rem;
	padding: 3rem 0;
	text-align: center;
}

.top-logo {
	top: 3px;
	font-weight: bold;
}

.login-area {
	padding: 40px;
	max-width: 700px;
	margin: 0 auto;
	overflow: hidden;
	background: #f5f5f5;
	border: 4px solid #ededed;
	border-radius: 10px;
}

.login-form {
	width: 60%;
	margin: 0 auto;
}

.nav-user>li>a {
	display: block;
	padding: 1rem 1.8rem;
}

.nav-user>li span.left-list-icon {
	margin-right: 1rem;
	text-align: center;
}

.errorMessage {
	font-family: fzlt;
	color: red;
	letter-spacing: 1px;
	font-size: 12px;
}

.input-group-addon {
	background-color: #f5f5f5;
}

.input-username, .input-password {
	top: 0px;
}

.check-rem {
	font-family: fzlt;
	margin: 20px 0;
}

.check-rem input[type='checkbox'] {
	border: 1px solid #ededed;
}

/* footer */
.footer {
	width: 100%;
	position: absolute;
	bottom: 0;
	line-height: 80px;
	background-color: #1069a4;
	border-top: 7px solid #0a5685;
	text-align: center;
	font-family: fzlt;
	font-size: 1.4rem;
	color: #fff;
	letter-spacing: 1px;
	margin-top: 127px;
}

/* omPage start */
.om-content {
	background: #eff0f4;
	min-height: 1000px;
}
/* om-header */
.om-list {
	padding-left: 1.5rem;
}

.om-list a {
	display: inline-block;
	margin-left: 1rem;
	font-size: 16px;
	color: #65CEA7;
}

.om-header-right {
	float: right !important;
}

.om-header-right i {
	display: inline-block;
	font-weight: bold;
	margin-right: 1rem;
}

.om-header-left span.om-list a:hover {
	color: #000;
	text-decoration: underline;
}

/* om-wrapper */
.om-wrapper {
	min-height: 700px;
	background-color: #fff;
	padding: 0 1rem;
	position: relative;
}

.om-wrapper-header {
	border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
	padding: 1.5rem 0;
	text-transform: uppercase;
	color: #535351;
	font-size: 1.4rem;
	font-weight: bold;
}

.om-wrpper-body {
	padding-top: 1.5rem;
}

.page-area {
	position: absolute;
	bottom: 30px;
	right: 100px;
}

.pagination-control {
	float: right;
}

/* user start */
table thead tr th {
	text-align: center;
	font-weight: 800;
	letter-spacing: 1px;
}

table tbody tr td {
	text-align: center;
	font-weight: 400;
	vertical-align: middle;
}

/* add start */
.form-group {
	border-bottom: 1px solid #eff2f7;
	padding-bottom: 15px;
}

.form-group::before, .form-group::after {
	content: "";
	display: table;
}

.form-group::after {
	clear: both;
}

form#addUserInfo header {
	font-family: fzlt;
	color: #7a7676;
	font-size: 1.4rem;
	font-weight: bold;
	margin-bottom: 15px;
}

.control-label {
	display: block;
	text-align: right;
	padding-top: 7px;
	color: #535351;
	font-size: 1.4rem;
	font-family: fzlt;
	font-weight: normal;
}

.control-label span {
	color: #a31515;
}

.radio-inline {
	padding-top: 5px;
}

.has-error-page {
	font-size: 12px;
	color: #a31515;
}

.has-error-page i {
	display: inline-block;
	padding-right: 5px;
}

.has-error-success {
	font-size: 12px;
	color: #0c9e13;
}

.has-error-success i {
	display: inline-block;
	padding-right: 5px;
}

/* 校验样式 */
.has-error>span {
	font-size: 12px;
	color: #a31515;
}

.has-success>span {
	font-size: 12px;
	color: #0c9e13;
}

.has-error>span>i, .has-success>span>i {
	display: inline-block;
	padding-right: 5px;
}

/* 请假页 */
.holiday-table thead tr th {
	text-align: center;
}

.holiday-table tbody tr td {
	text-align: center;
	vertical-align: middle;
}

.btn-person {
	font-size: 60px;
	color: #65CEA7;
	border: none;
	cursor: pointer;
}

.serach-person-header {
	background: #65CEA7;
	color: #fff;
	border-radius: 0;
	-webkit-border-radius: 0;
	border: none;
}

.person-List li>a {
	color: #65CEA7;
}

.person-List li {
	margin-bottom: 6px;
	border-bottom: 1px #ddd solid;
	padding: 15px;
	cursor: pointer;
}

.serach-person-footer {
	border-top: none;
}

.form-group a {
	color: #65CEA7;
}

.form-group a span.spare-dot {
	color: red;
	font-weight: bold;
	height: 20px;
	line-height: 20px;
	display: inline-block;
}

.person-name-area {
	float: left;
	height: 64px;
	line-height: 32px;
}

.person-name-area>a {
	cursor: pointer;
}

.noProcessPerson {
	display: none;
}

.cf tr td a {
	font-size: 16px;
	color: #65CEA7;
}

.cf tr td a:hover {
	color: #000;
	text-decoration: underline;
}

/* 个人主页 */
.person-desk h1 {
	color: #49586e;
	font-size: 2rem;
	margin: 0 0 5px 0;
	text-transform: uppercase;
}

.btn-info {
	color: #fff;
	background-color: #5bc0de;
	border-color: #46b8da;
}

.tools a:hover, .tools a.active {
	background: #65cea7;
	color: #fff;
}

.btn-group.open .dropdown-toggle, .btn-white.active, .btn:active, .btn.active
	{
	box-shadow: none;
}

.tools .btn-default.active:hover {
	background: #65cea7;
	color: #fff;
}

.tools a {
	background: #E3E4E8;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	color: #858582;
	float: left;
	margin-left: 3px;
	padding: 10px;
	text-decoration: none;
	padding: 5px;
}

.modal-header {
	background: #65CEA7;
	color: #fff;
	border-radius: 0;
	-webkit-border-radius: 0;
	border: none;
}

ul.p-info li {
	display: inline-block;
	width: 100%;
	margin-bottom: 10px;
}

ul.p-info .title {
	width: 40%;
}

ul.p-info .title, ul.p-info .desk {
	float: left;
}

ul.p-info .desk {
	width: 60%;
	color: #65cea7;
}

ul.p-info .title, ul.p-info .desk {
	float: left;
}

.login-info .person-img {
	vertical-align: middle;
	margin-right: 5px;
	width: 26px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

.profile-pic img {
	border: 5px solid #F1F2F7;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	height: 150px;
	margin: 10px 0;
	width: 150px;
}

.wrapper div.row {
	margin-left: -15px;
	margin-right: -15px;
	overflow: hidden;
}

/* 请假条页 */
.blog h1 {
	font-size: 18px;
	text-transform: uppercase;
	color: #424242;
	font-weight: 400;
	margin: 0px 0 10px 0;
	line-height: 30px;
}

.blog h1 a {
	color: #424242;
}

.blog .auth-row {
	color: #c8c8c8;
	font-weight: 300;
	padding-bottom: 20px;
	font-size: 14px;
}

.blog .auth-row a {
	color: #c8c8c8;
}

/* approve pagae */
.approve .control-label {
	text-align: left;
}

.approve .right {
	text-align: right;
}

.approve .approve-result span {
	margin: 0 5px;
}

/* 数据分析页 */
.charts .om-wrapper {
	min-height: 0;
	margin-top: 15px;
}

/* 物品页 */
.label {
	display: inline;
	padding: .2em .6em .3em;
	font-size: 75%;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .25em;
}

.label-success {
	background-color: #5cb85c;
}

.processTips {
	margin-top: 10px;
	color: #65CEA7;
}

.processTips span {
	color: red;
}

/*头像预览*/
.img-preview {
	float: left;
	margin-bottom: .5rem;
	margin-right: .5rem;
	overflow: hidden;
}

.img-preview>img {
	max-width: 100%;
}

.preview-lg {
	height: 20rem;
	width: 20rem;
}

.preview-md {
	height: 15rem;
	width: 15rem;
}

.preview-sm {
	height: 10rem;
	width: 10rem;
}

.preview-xs {
	height: 5rem;
	margin-right: 0;
	width: 5rem;
}

.modal-body canvas {
	max-width: 300px;
	max-height: 300px;
}
/*知识分享*/
.panel-heading {
	border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
	padding: 15px;
	text-transform: uppercase;
	color: #535351;
	font-size: 14px;
	font-weight: bold;
}

.person-img img {
	float: left;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
}

.activity-list li {
	display: inline-block;
	width: 100%;
	margin-bottom: 30px;
	padding-bottom: 20px;
	border-bottom: 1px solid #eff0f4;
}

.activity-desk {
	margin-left: 70px;
}

.activity-desk h5 {
	color: #2a323f;
	margin-top: 10px;
	margin-bottom: 10px;
}

.activity-desk a.user-name {
	color: #65CEA7;
}

.activity-desk span.activity-title a {
	color: #2a323f;
	font-weight: 500;
}

.text-muted {
	color: #999;
}

.text-muted i.glyphicon {
	margin: 0 5px;
	top: 3px;
}

.text-muted a.my-control {
	color: #65CEA7;
}

.text-muted span {
	margin: 0 5px;
}

.blog-post ul li a {
	line-height: 35px;
	color: #837f7e;
}

.blog-post h3 {
	font-size: 16px;
	text-transform: uppercase;
	color: #424242;
	font-weight: bold;
	padding-top: 0px;
	margin-top: 0;
}

.single-blog a.p-follow-btn {
	background: #eff0f4;
	color: #a4a4a4;
}

.single-blog a.p-follow-btn:hover {
	color: white;
	background-color: #65CEA7;
}

.answer {
	color: #999 !important;
	cursor: pointer;
}

.blog .auth-row {
	color: #c8c8c8;
	font-weight: 300;
	padding-bottom: 20px;
	font-size: 14px;
	margin-bottom: 10px;
}

.activity-order {
	color: #999;
}

.controled {
	color: #c9302c;
}

.order-list {
	margin-bottom: 15px;
	padding-bottom: 5px;
}

.label-control a {
	color: #535351;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
	margin-right: 15px;
}

.order-list-control {
	display: none;
}

.order-list-control span {
	cursor: pointer;
	margin-right: 15px;
}

.order-list-control span a:hover {
	text-decoration: underline;
}

.order-list-control span.order-list-editor a {
	color: #449d44;
}

.order-list-control span.order-list-del a {
	color: #d9534f;
}

.label-control a:hover {
	text-decoration: underline;
	color: #65CEA7;
}

.addNewLabel {
	display: none;
}

.l-post {
	border-bottom: 1px solid #E1E4E6;
	background: #fafbfc;
}

.d-author {
	width: 80px;
	float: left;
	text-align: center;
	padding: 15px 0;
}

.author-icon-img {
	
}

.author-icon img {
	width: 80px;
	height: 80px;
	float: left;
	border: 5px solid #F1F2F7;
	border-radius: 50%;
	-webkit-border-radius: 50%;
}

.author-name {
	margin-top: 5px;
}

.author-name a {
	color: #65CEA7;
}

.author-name a:hover {
	text-decoration: underline;
}

.d-author-post-content-main {
	float: left;
	padding: 0 0 7px 20px;
	min-height: 170px;
}

.d-content {
	padding: 24px 20px 0 0;
}